In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('udemy_courses.csv',parse_dates=['published_timestamp'])

1. Display Top 10 Rows of The Dataset

In [3]:
df.head(10)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18 20:58:58+00:00,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09 16:34:20+00:00,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19 19:26:30+00:00,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30 20:07:24+00:00,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13 14:57:18+00:00,Business Finance
5,192870,Trading Penny Stocks: A Guide for All Levels I...,https://www.udemy.com/trading-penny-stocks-a-g...,True,150,9221,138,25,All Levels,3.0,2014-05-02 15:13:30+00:00,Business Finance
6,739964,Investing And Trading For Beginners: Mastering...,https://www.udemy.com/investing-and-trading-fo...,True,65,1540,178,26,Beginner Level,1.0,2016-02-21 18:23:12+00:00,Business Finance
7,403100,"Trading Stock Chart Patterns For Immediate, Ex...",https://www.udemy.com/trading-chart-patterns-f...,True,95,2917,148,23,All Levels,2.5,2015-01-30 22:13:03+00:00,Business Finance
8,476268,Options Trading 3 : Advanced Stock Profit and ...,https://www.udemy.com/day-trading-stock-option...,True,195,5172,34,38,Expert Level,2.5,2015-05-28 00:14:03+00:00,Business Finance
9,1167710,The Only Investment Strategy You Need For Your...,https://www.udemy.com/the-only-investment-stra...,True,200,827,14,15,All Levels,1.0,2017-04-18 18:13:32+00:00,Business Finance

2. Check Last 5 Rows of The Dataset

In [4]:
df.tail(5)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
3673,775618,Learn jQuery from Scratch - Master of JavaScri...,https://www.udemy.com/easy-jquery-for-beginner...,True,100,1040,14,21,All Levels,2.0,2016-06-14 17:36:46+00:00,Web Development
3674,1088178,How To Design A WordPress Website With No Codi...,https://www.udemy.com/how-to-make-a-wordpress-...,True,25,306,3,42,Beginner Level,3.5,2017-03-10 22:24:30+00:00,Web Development
3675,635248,Learn and Build using Polymer,https://www.udemy.com/learn-and-build-using-po...,True,40,513,169,48,All Levels,3.5,2015-12-30 16:41:42+00:00,Web Development
3676,905096,CSS Animations: Create Amazing Effects on Your...,https://www.udemy.com/css-animations-create-am...,True,50,300,31,38,All Levels,3.0,2016-08-11 19:06:15+00:00,Web Development
3677,297602,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,True,45,901,36,20,Beginner Level,2.0,2014-09-28 19:51:11+00:00,Web Development

3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
df.shape

(3678, 12)

4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   datetime64[ns, UTC]
 11  subject              3678 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), float64(1), int64(5), object(4)
memory usage: 319.8+ KB

5. Check Null Values In The Dataset.

In [7]:
df.isnull().sum(0)

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

6. Check For Duplicate Data and Drop Them.

In [8]:
df.duplicated().sum()

6

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

7. Find Out Number of Courses Per Subjects

In [11]:
df.columns

Index(['course_id', 'course_title', 'url', 'is_paid', 'price',
       'num_subscribers', 'num_reviews', 'num_lectures', 'level',
       'content_duration', 'published_timestamp', 'subject'],
      dtype='object')

In [12]:
df['subject'].value_counts()

subject
Web Development        1199
Business Finance       1191
Musical Instruments     680
Graphic Design          602
Name: count, dtype: int64

8. For Which Levels, Udemy Courses Providing The Courses

In [13]:
df['level'].unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

9. Display The Count of Paid and Free Courses

In [14]:
df['is_paid'].value_counts()

is_paid
True     3362
False     310
Name: count, dtype: int64

10. Which Course Has More Lectures (Free or Paid)?

In [15]:
df.groupby('is_paid')['num_lectures'].mean()

is_paid
False    21.416129
True     41.866746
Name: num_lectures, dtype: float64

11. Which Courses Have A Higher Number of Subscribers Free or Paid?

In [16]:
df.groupby('is_paid')['num_subscribers'].mean()

is_paid
False    11533.951613
True      2421.270077
Name: num_subscribers, dtype: float64

12. Which Level Has The Highest Number of Subscribers?

In [17]:
df.groupby('level')['num_subscribers'].max().sort_values(ascending=False)

level
All Levels            268923
Beginner Level        161029
Intermediate Level     29167
Expert Level            5172
Name: num_subscribers, dtype: int64

13. Find Most Popular Course Title

In [18]:
df[df['num_subscribers']==df['num_subscribers'].max()]['course_title']

2827    Learn HTML5 Programming From Scratch
Name: course_title, dtype: object

14. Display 10 Most Popular Courses As Per Number of Subscribers

In [19]:
index=df['num_subscribers'].sort_values(ascending=False)[:10].index
df['course_title'].iloc[index]

2833    Twitter Integration customize Tweets with deve...
3038    How to create awesome website and e-commerce i...
3236               Projects in Node.js - Learn by Example
2789                            Learn HTML Fast and Easy!
3238    Learn Object Oriented PHP By Building a Comple...
1901                               Acoustic Guitar Basics
2595                   Practical Guide to Web Development
2625    The Complete PHP CodeIgniter Course: Beginner ...
3295    Laravel Deployment - Launch your Laravel Appli...
3253                             Advanced React and Redux
Name: course_title, dtype: object

15. Find The Course Which Is Having The Highest Number of Reviews.

In [20]:
df[df['num_reviews']==df['num_reviews'].max()]['course_title']

3230    The Web Developer Bootcamp
Name: course_title, dtype: object

16. Find Total Number of Courses Related To Python

In [21]:
len(df[df['course_title'].str.contains('Python',case=False)])

29

17. Display 10 Most Popular Python Courses As Per Number of Subscribers

In [22]:
df[df['course_title'].str.contains('Python',case=False)].sort_values(by='num_subscribers',ascending=False)[:10]

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
2497,16646,Web Programming with Python,https://www.udemy.com/web-programming-with-pyt...,True,50,35267,217,53,All Levels,4.0,2012-04-25 00:01:43+00:00,Web Development
2570,47963,"Coding for Entrepreneurs: Learn Python, Django...",https://www.udemy.com/coding-for-entrepreneurs/,True,195,23412,799,251,All Levels,45.0,2013-04-08 00:46:14+00:00,Web Development
2528,391546,Learn Python and Django: Payment Processing,https://www.udemy.com/learn-django-code-accept...,True,70,17714,198,23,All Levels,3.5,2015-02-09 15:37:56+00:00,Web Development
3200,822444,Python and Django Full Stack Web Developer Boo...,https://www.udemy.com/python-and-django-full-s...,True,200,11832,1883,191,All Levels,31.5,2017-02-24 18:40:55+00:00,Web Development
3507,394832,Fun and creative web engineering with Python a...,https://www.udemy.com/web-engineering-with-pyt...,False,0,10917,319,25,All Levels,2.0,2015-06-09 19:51:50+00:00,Web Development
2553,938560,The Complete Ethical Hacking Course 2.0: Pytho...,https://www.udemy.com/penetration-testing-ethi...,True,195,7827,268,66,All Levels,11.0,2016-09-26 15:08:29+00:00,Web Development
3138,631128,Complete Python Web Course: Build 8 Python Web...,https://www.udemy.com/the-complete-python-web-...,True,110,7489,941,173,All Levels,16.0,2015-11-08 20:57:35+00:00,Web Development
3197,76052,Try Django 1.9 | Build a Blog and Learn Python...,https://www.udemy.com/try-django/,True,50,7407,172,147,All Levels,20.0,2014-03-04 07:12:21+00:00,Web Development
2681,477702,Python for Beginners: Python Programming Langu...,https://www.udemy.com/python-course/,True,150,6153,125,84,Beginner Level,5.0,2015-06-14 18:18:57+00:00,Web Development
3203,970600,REST APIs with Flask and Python,https://www.udemy.com/rest-api-flask-and-python/,True,110,5151,737,115,Intermediate Level,12.5,2016-11-06 19:00:38+00:00,Web Development

18. In Which Year The Highest Number of Courses Were Posted?

In [23]:
df['published_timestamp'].dt.year.value_counts()[:1]

published_timestamp
2016    1204
Name: count, dtype: int64

In [ ]:
19. Display Category-Wise Count of Posted Subjects [Year Wise]

In [24]:
df.groupby(df['published_timestamp'].dt.year)['subject'].value_counts()

published_timestamp  subject
2011                 Web Development          5
2012                 Web Development         19
                     Musical Instruments     10
                     Graphic Design          10
                     Business Finance         6
2013                 Business Finance        84
                     Web Development         55
                     Musical Instruments     39
                     Graphic Design          23
2014                 Business Finance       192
                     Musical Instruments    120
                     Web Development        113
                     Graphic Design          65
2015                 Business Finance       339
                     Web Development        336
                     Musical Instruments    171
                     Graphic Design         168
2016                 Web Development        448
                     Business Finance       347
                     Musical Instruments    228
                     Graphic Design         181
2017                 Web Development        223
                     Business Finance       223
                     Graphic Design         155
                     Musical Instruments    112
Name: count, dtype: int64